<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
  <head>
    <title>Not home</title>
  </head>
  <body>
    <h1>QUESTION PAGE</h1>
    <p>sample question text...</p>
    <ul>
      <h4>Q. What is the hottest planet in the solar system?</h4>
      <ul class="choices" style="list-style-type: none;">
          <li>
              <label
                  ><input type="radio" name="question0" value="A" /><span
                      >Jupiter</span
                  ></label
              >
          </li>
          <li>
              <label
                  ><input type="radio" name="question0" value="B" /><span
                      >Sun</span
                  ></label
              >
          </li>
          <li>
              <label
                  ><input type="radio" name="question0" value="C" /><span
                      >Venus</span
                  ></label
              >
          </li>
          <li>
              <label
                  ><input type="radio" name="question0" value="D" /><span
                      >Earth</span
                  ></label
              >
          </li>
      </ul>
    </ul>
    </ul>
    <a href="/proxy/8099/test">Link to score page</a>
  </body>
</html>